#!/bin/bash

# Default values for environment variables used in the project

## Local Development for ralphbot
export BOT_TOKEN=""
export GUILD_ID=""
export REMOVE_COMMANDS="true"

## CDK Stack Specifics
export COMMIT=""
export VERSION=""
export ENVIRONMENT=""
export AWS_ACCOUNT_ID=""

# Override environment variables in the .envrc.private file
source_env_if_exists .envrc.private