Dockerfile
README.md
docker-compose.yml

*.d.ts
*.js
**/tsconfig.tsbuildinfo
**/node_modules

!jest.config.js
!.*rc.js
!setup.js

**/.env
**/.envrc

**/cdk.out
**/cdktf.log
**/cdktf.out
**/yarn-error.log

/.*/**
